/*colors*/
$p_white: #FFFFFF;
$p_black: #000000;
$check_green: #008000;
$bg_grey: #F5F5F5;
$outline_grey: #C0C0C0;
$placeholder_text_grey:  #AFAFAF;
$dark_grey: #505050;
$title_text_color: #CCCCCC;
$lightgrey: #D3D3D3;
$fb_checked_border_grey: #AFAFAF;
$content_border_cl: #F0F0F0;
$p_grey: #808080;

/*parameters*/
$check_delete_el_wight: 50px;
$check_delete_el_high: 50px;
$content_min_wight: 462px;
$content_max_wight: 560px;
$content_max_high: 400px;
$content_min_high: 404px;
$max_indent: 85px;
$cursor_pointer: pointer;
$border_width: 1px;
$border_color: $p_black;
/*action*/
$focus_border_width: 2px;
$border_radius: 4px;

/*prop*/
$background-color: $bg_grey;

/*texts*/
$front_family_text: Roboto, sans-serif;
$title_family_text: Roboto, serif;
$front_size_text: 24px;
$placeholder_text_size: 22px;
$title_size_text: 100px;
$title_line_height: 21px;
$filter_buttons_text_size: 14px;
$double: 2;
$single: 1;
