body {
    display: flex;
    background-color: #f5f5f5;
}
.task-filter__input:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}
ul {
    padding: 0 0 0 0;
    margin: 0 0 85px 0;
}
